:root {
    --DarkBlueIntro: hsl(217, 28%, 15%);
    --DarkBlueBg: hsl(218, 28%, 13%);
    --DarkBlue-light: hsl(216, 53%, 9%);
    --DarkBlue-dark: hsl(219, 30%, 18%);

    /* ### Accent */
    --lightgray: rgb(168, 168, 168);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --LightRed: hsl(0, 100%, 63%);

    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p,
body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: var(--DarkBlueBg);
    color: var(--White);
}

.container {
    max-width: 1440px;
    padding-inline: 2rem;
    margin-inline: auto;
}

.flow-content > * + * {
    margin-top: 1rem;
}

/* UTILITY */
.btn {
    border-radius: 3px;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin-right: 1rem;
}

.page-title {
    font-size: 1.75rem;
    color: skyblue;
}

.page-title::before {
    content: "< ";
}

.page-title::after {
    content: " />";
}
