.hero {
    min-height: 100vh;
    padding-block: 10rem;
    position: relative;
    overflow: hidden;
    background-color: var(--DarkBlueIntro);
    z-index: 99;
}

.hero .flex {
    display: flex;
}

.hero__img {
    position: relative;
    background-repeat: no-repeat;
    z-index: -9999;
    right: -45%;
}

.hero__content {
    width: min(70ch, 100% - 4rem);
}

.hero__content-title {
    font-size: 5rem;
    line-height: 1;
}

.hero__content-title span {
    color: skyblue;
}

.hero__content-subtitle {
    font-size: 2rem;
}

.btn {
    font-size: 1rem;
}

.btn-primary {
    background-color: orange;
    color: #fff;
}

.socials {
    position: absolute;
    flex-direction: row;
    display: flex;
    bottom: 10%;
    gap: 1rem;
}

.social-btn {
    font-size: 2.5rem;
    transition: 250ms ease-in-out;
}

.social-btn:hover,
.social-btn:focus {
    transform: scale(1.1);
}

@media (max-width: 45rem) {
    .hero {
        padding-block: 4rem;
    }

    .socials {
        position: initial;
        margin-top: 2rem;
    }

    .social-btn {
        font-size: 1.75rem;
    }

    .hero__img {
        position: initial;
        margin-top: 2rem;
    }

    .hero .flex {
        flex-direction: column;
    }
    .hero__content-title {
        font-size: 4rem;
    }
}
